{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "linebreak-style": 0,
    "no-global-assign": 0,
    "no-unsafe-negation": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/anchor-has-content": 0,
    "react/require-default-props": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  },
  "plugins": [
    "react"
  ],
  "extends": "airbnb"
}